* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial;
  background-image: url("Images/background.png");
  margin: 0;
}

header {
  position: relative;
  min-width: 700px;
  background-color: #c4c4c4;
  border-bottom: 1px solid black;
  color: white;
  font-size: 17px;
}

header nav {
  position: absolute;
  top:10px;
  right: 10px;
  }

header img {
  margin-top: 10px;
  margin-left: 10px
}

header li {
  padding: 8px 12px;
  width: 100px;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  display: inline;
}

header button {
    background-color: darkblue;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 20px gray;
    width: 100px;
    padding: 8px 12px;
    color:white;
    font-size: 17px;
    font-family: Arial;
  }

main {
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  background-color: white;
  padding: 15px;
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
}

footer {
  margin: 100px;
  color:gray;
  border-top: 1px inset lightgray;
  padding: 10px;
  text-align: center;
}
